<div class="grid">
    <div class="col-12 xl:col-6">
        <!-- Ventas recientes -->
        <div class="card">
            <h5>Ventas recientes</h5>
            <p-table
                [value]="sales"
                [paginator]="true"
                [rows]="5"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="date">
                            Fecha
                            <p-sortIcon field="date"></p-sortIcon>
                        </th>
                        <th pSortableColumn="product?.productName">
                            Producto
                            <p-sortIcon
                                field="product?.productName"
                            ></p-sortIcon>
                        </th>
                        <th pSortableColumn="installment">
                            Entrega
                            <p-sortIcon field="installment"></p-sortIcon>
                        </th>
                        <th pSortableColumn="amount">
                            Cantidad <p-sortIcon field="amount"></p-sortIcon>
                        </th>
                        <th>Detalles</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-sale>
                    <tr>
                        <td style="width: 30%; min-width: 5rem">
                            <span>{{ sale?.date }}</span>
                        </td>
                        <td style="width: 35%; min-width: 7rem">
                            {{ sale?.product?.productName }}
                        </td>
                        <td style="width: 35%; min-width: 8rem">
                            {{ sale?.installment | currency : "ARS" }}
                        </td>
                        <td style="width: 10%; min-width: 8rem">
                            {{ sale?.amount }}
                        </td>
                        <td style="width: 15%">
                            <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-search"
                                (click)="seeProductDialog(sale?.product)"
                                class="p-button p-component p-button-text p-button-icon-only"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <!-- Ver venta -->
        <p-dialog
            [(visible)]="dialogForSeeSale"
            [style]="{ width: '450px' }"
            header="Producto"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="seeProductDetails">{{
                        productDetail?.productName
                    }}</label>
                </div>
                <div class="field">
                    <label for="seeProductDetails">{{
                        productDetail?.productName
                    }}</label>
                </div>
            </ng-template>
            <!-- Footer -->
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Realizado"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="hideDialogForProductDetails()"
                ></button>
            </ng-template>
        </p-dialog>

        <!-- Productos con más ventas -->
        <!-- <div class="card">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Productos más vendidos</h5>
            </div>
            <ul class="list-none p-0 m-0">
                <li
                    class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4"
                >
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
                            >Space T-Shirt</span
                        >
                        <div class="mt-1 text-600">Clothing</div>
                    </div>
                    <div class="mt-2 md:mt-0 flex align-items-center">
                        <div
                            class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                            [ngStyle]="{ height: '8px' }"
                        >
                            <div
                                class="bg-orange-500 h-full"
                                [ngStyle]="{ width: '50%' }"
                            ></div>
                        </div>
                        <span class="text-orange-500 ml-3 font-medium"
                            >%50</span
                        >
                    </div>
                </li>
                <li
                    class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4"
                >
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
                            >Portal Sticker</span
                        >
                        <div class="mt-1 text-600">Accessories</div>
                    </div>
                    <div
                        class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center"
                    >
                        <div
                            class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                            [ngStyle]="{ height: '8px' }"
                        >
                            <div
                                class="bg-cyan-500 h-full"
                                [ngStyle]="{ width: '16%' }"
                            ></div>
                        </div>
                        <span class="text-cyan-500 ml-3 font-medium">%16</span>
                    </div>
                </li>
                <li
                    class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4"
                >
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
                            >Supernova Sticker</span
                        >
                        <div class="mt-1 text-600">Accessories</div>
                    </div>
                    <div
                        class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center"
                    >
                        <div
                            class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                            [ngStyle]="{ height: '8px' }"
                        >
                            <div
                                class="bg-pink-500 h-full"
                                [ngStyle]="{ width: '67%' }"
                            ></div>
                        </div>
                        <span class="text-pink-500 ml-3 font-medium">%67</span>
                    </div>
                </li>
                <li
                    class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4"
                >
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
                            >Wonders Notebook</span
                        >
                        <div class="mt-1 text-600">Office</div>
                    </div>
                    <div
                        class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center"
                    >
                        <div
                            class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                            [ngStyle]="{ height: '8px' }"
                        >
                            <div
                                class="bg-green-500 h-full"
                                [ngStyle]="{ width: '35%' }"
                            ></div>
                        </div>
                        <span class="text-green-500 ml-3 font-medium">%35</span>
                    </div>
                </li>
                <li
                    class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4"
                >
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
                            >Mat Black Case</span
                        >
                        <div class="mt-1 text-600">Accessories</div>
                    </div>
                    <div
                        class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center"
                    >
                        <div
                            class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                            [ngStyle]="{ height: '8px' }"
                        >
                            <div
                                class="bg-purple-500 h-full"
                                [ngStyle]="{ width: '75%' }"
                            ></div>
                        </div>
                        <span class="text-purple-500 ml-3 font-medium"
                            >%75</span
                        >
                    </div>
                </li>
                <li
                    class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4"
                >
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
                            >Robots T-Shirt</span
                        >
                        <div class="mt-1 text-600">Clothing</div>
                    </div>
                    <div
                        class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center"
                    >
                        <div
                            class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                            [ngStyle]="{ height: '8px' }"
                        >
                            <div
                                class="bg-teal-500 h-full"
                                [ngStyle]="{ width: '40%' }"
                            ></div>
                        </div>
                        <span class="text-teal-500 ml-3 font-medium">%40</span>
                    </div>
                </li>
            </ul>
        </div> -->
    </div>

    <!-- Overview -->
    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Venta mensual</h5>
            <p-chart
                type="line"
                [data]="salesData"
                [options]="chartOptions"
            ></p-chart>
        </div>
        <div class="card">
            <h5>Cobranza mensual</h5>
            <p-chart
                type="line"
                [data]="monthlyCollection"
                [options]="chartOptions"
            ></p-chart>
        </div>
        <div class="card">
            <h5>Ganancia total en ventas</h5>
            <p-chart
                type="line"
                [data]="profit"
                [options]="chartOptions"
            ></p-chart>
        </div>
    </div>
</div>
