<div class="grid">
    <div class="col-12 xl:col-6">
        <!-- Ventas recientes -->
        <div class="card">
            <h5>Ventas recientes</h5>
            <p-table
                [value]="sales"
                [paginator]="true"
                [rows]="5"
                responsiveLayout="scroll"
            >
                <!-- Headers -->
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="date">
                            Fecha
                            <p-sortIcon field="sale.date"></p-sortIcon>
                        </th>
                        <th>Producto</th>
                        <th pSortableColumn="installment">
                            Cuota
                            <p-sortIcon field="installment"></p-sortIcon>
                        </th>
                        <th pSortableColumn="amount">
                            Cantidad <p-sortIcon field="amount"></p-sortIcon>
                        </th>
                        <th>Detalles</th>
                    </tr>
                </ng-template>
                <!-- Body -->
                <ng-template pTemplate="body" let-sale>
                    <tr>
                        <td style="width: 30%; min-width: 5rem">
                            <span>{{ sale?.date }}</span>
                        </td>
                        <td style="width: 35%; min-width: 7rem">
                            {{ sale?.productDescription }}
                        </td>
                        <td style="width: 35%; min-width: 8rem">
                            {{ sale?.fee | currency : "ARS" }}
                        </td>
                        <td style="width: 10%; min-width: 8rem">
                            {{ sale?.amount }}
                        </td>
                        <td style="width: 15%">
                            <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-search"
                                (click)="seeSaleDialog(sale)"
                                class="p-button p-component p-button-text p-button-icon-only"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- Ver venta -->
        <p-dialog
            [(visible)]="dialogForSeeSale"
            [style]="{ width: '450px' }"
            header="Venta | {{ sale.productDescription }}"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="cname">Cliente</label>
                    <input
                        id="cname"
                        type="text"
                        pInputText
                        placeholder="{{ sale?.client?.name }}"
                        readonly
                    />
                </div>
                <div class="field">
                    <label for="csurname">Empleado</label>
                    <input
                        id="csurname"
                        type="text"
                        pInputText
                        placeholder="{{ sale?.employee?.name }}"
                        readonly
                    />
                </div>
                <div class="field">
                    <label for="fee">Cuota</label>
                    <input
                        id="fee"
                        type="text"
                        pInputText
                        placeholder="{{ sale?.fee }}"
                        readonly
                    />
                </div>
                <div class="field">
                    <label for="date">Fecha</label>
                    <input
                        id="date"
                        type="text"
                        pInputText
                        placeholder="{{ sale?.date }}"
                        readonly
                    />
                </div>
                <div class="field">
                    <label for="paymentDate">Fecha de pago</label>
                    <input
                        id="paymentDate"
                        type="text"
                        pInputText
                        placeholder="{{ sale?.paymentDate }}"
                        readonly
                    />
                </div>
                <div class="field">
                    <label for="newPaymentDate">Nueva fecha de pago</label>
                    <input
                        id="newPaymentDate"
                        type="text"
                        pInputText
                        placeholder="{{ sale?.newPaymentDate }}"
                        readonly
                    />
                </div>
                <div class="field">
                    <label for="amount">Cantidad</label>
                    <input
                        id="amount"
                        type="text"
                        pInputText
                        placeholder="{{ sale?.amount }}"
                        readonly
                    />
                </div>
            </ng-template>
            <!-- Footer -->
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Realizado"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="hideDialogForSaleDetails()"
                ></button>
            </ng-template>
        </p-dialog>
    </div>

    <!-- Overview -->
    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Venta mensual</h5>
            <p-chart
                type="line"
                [data]="salesData"
                [options]="chartOptions"
            ></p-chart>
        </div>
        <div class="card">
            <h5>Cobranza mensual</h5>
            <p-chart
                type="line"
                [data]="monthlyCollection"
                [options]="chartOptions"
            ></p-chart>
        </div>
        <div class="card">
            <h5>Ganancia total en ventas</h5>
            <p-chart
                type="line"
                [data]="profit"
                [options]="chartOptions"
            ></p-chart>
        </div>
    </div>
</div>
