<div class="layout-topbar">
    <div class="titleOfSys">
        <button
            #menubutton
            class="p-link layout-menu-button layout-topbar-button"
            (click)="layoutService.onMenuToggle()"
        >
            <i class="pi pi-bars"></i>
        </button>
    </div>

    <a class="layout-topbar-logo" routerLink="">
        <img
            style="width: 100px; height: 100px"
            src="assets/layout/images/{{
                layoutService.config().colorScheme === 'light'
                    ? 'dark-logo'
                    : 'white-logo'
            }}.png"
            alt="logo"
        />
    </a>
</div>
